<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>net.latin.server.security.filter.LnwApplicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>*.gwt</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/__reportViewer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/imageFileUploader</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/fotoRecover</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/fileUploader</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/__fileVisualizer</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>action</filter-name>
    <filter-class>
		    org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>resources</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>struts-default.xml,struts-plugin.xml,struts.xml,struts-config-useCases.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>action</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>action</filter-name>
    <url-pattern>*.gwt</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>fileUploader</servlet-name>
    <servlet-class>net.latin.server.fileUpload.FileUploaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUploader</servlet-name>
    <url-pattern>/__fileUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileVisualizer</servlet-name>
    <servlet-class>net.latin.server.utils.reports.visualizer.ReportViewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileVisualizer</servlet-name>
    <url-pattern>/__fileVisualizer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownloader</servlet-name>
    <servlet-class>net.latin.server.fileUpload.FileDownloaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloader</servlet-name>
    <url-pattern>/__fileDownloader</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>${projectName}.html</welcome-file>
  </welcome-file-list>
</web-app>